<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","inherit":true}} -->
<main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0"><!-- wp:columns {"align":"wide","className":"hm-docs-site-layout","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|x-large"}}}} -->
<div class="wp-block-columns alignwide hm-docs-site-layout"><!-- wp:column {"width":"16rem","className":"hm-docs-site-layout__sidebar","fontSize":"small"} -->
<div class="wp-block-column hm-docs-site-layout__sidebar has-small-font-size" style="flex-basis:16rem"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"fontSize":"medium"} -->
<h2 class="wp-block-heading has-medium-font-size">On this site</h2>
<!-- /wp:heading -->

<!-- wp:page-list /-->

<!-- wp:heading {"fontSize":"medium"} -->
<h2 class="wp-block-heading has-medium-font-size">On this page</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:hm/table-of-contents /--></div>
<!-- /wp:column -->

<!-- wp:column {"className":"hm-docs-site-layout__content"} -->
<div class="wp-block-column hm-docs-site-layout__content"><!-- wp:post-title {"textAlign":"left","level":1,"align":"wide"} /-->

<!-- wp:post-content {"align":"wide","style":{"spacing":{"margin":{"left":"0","right":"auto"}}},"layout":{"type":"constrained","justifyContent":"left"}} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"left":"0","right":"auto"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group" style="margin-right:auto;margin-left:0"></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->